<div class="panel panel-primary"><div class="panel-heading">Detail candidat</div>
<div class="container">
  <div class="form-group ">
      <label class="control-label " for="name">
       Nom : {{exam.name}}
      </label>
     </div>
      <div class="form-group ">
      <label class="control-label " for="expertise">
       Domaine  : {{exam.expertise}}
      </label>
     </div>
      <div class="form-group ">
      <label class="control-label " for="level">
       Niveau : {{exam.level}}
      </label>
     </div>
      <div class="form-group ">
      <label class="control-label " for="time">
       Temp : {{exam.time}}
      </label>
     </div>
     <div class="form-group ">
      <label class="control-label " for="active">
       Active : {{exam.active}}
      </label>
     </div>
  <div class="panel-group" id="accordion">
   {{#each exam.questions}}
   <p>categorie: {{categorie.description}}<p>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{inc @index}}">Question {{inc @index}} : {{description}}</a>
        </h4>
      </div>
      <div id="collapse{{inc @index}}" class="panel-collapse collapse in">
        <div class="panel-body"> 
        {{#each reponses}}
        <p>{{description}} <input type="checkbox" {{#if isGoodreponse}}  checked="checked" {{/if}} disabled>  </p>
        {{/each}} 
        </div>
      </div>
    </div>
	{{/each}}
  </div> 
</div>
</div>