
<div class="panel panel-primary"><div class="panel-heading"><i class="fa fa-search" aria-hidden="true"></i><span class="titre">Recherche</span></div>
<div class="panel-body"><div class='filters'>
    <div class='filter-container'>
	  <label>Nom</label>
      <input autocomplete='off' class='filter' name='Nom' placeholder='Nom' data-col='Nom'/>
    </div>
    <div class='filter-container'>
	  <label>Pr&eacute;nom</label>
      <input autocomplete='off' class='filter' name='Pr&eacute;nom' placeholder='Pr&eacute;nom' data-col='Pr&eacute;nom'/>
    </div>
    <div class='filter-container'>
	  <label>E-mail</label>
      <input autocomplete='off' class='filter' name='E-mail' placeholder='E-mail' data-col='E-mail'/>
    </div>
	<div class='filter-container'>
	  <label>profile</label>
      <input autocomplete='off' class='filter' name='profile' placeholder='profile' data-col='profile'/>
    </div>
    <div class='clearfix'></div>
    <button type="submit" class="btn btn-inverse right-rounded">Chercher</button>
  </div></div></div>

<div class="gestion-container">
<div class="ajouter-users js-ajouter-user"><span class="fa fa-user-plus"></div>
<div class="panel panel-primary"><div class="panel-heading"><i class="fa fa-users" aria-hidden="true"></i>Utilisateurs</div>
<div class="panel-body">
<table class="table table-hover">
   <thead>
      <tr>
         <th width= "5%"><i class="" aria-hidden="true"></i>Check</th>
         <th width= "10%"><i class="" aria-hidden="true"></i>Nom</th>
         <th width= "10%"><i class="" aria-hidden="true"></i>Pr&eacute;nom</th>
         <th width= "15%"><i class="" aria-hidden="true"></i>E-mail</th>
         <th width= "20%"><i class="" aria-hidden="true"></i>profile</th>
         <th width= "30%"><i class="" aria-hidden="true"></i>Action</th>
      </tr>
   </thead>
   <tbody>
      {{#each users}}       
      <tr class="clickable-row" data-user-id="{{userId}}">
         <td class="check"><input type="checkbox" id="cbox1" value="checkbox1"></td>
         <td class="firstName">{{firstName}}</td>
         <td class="">{{lastName}}</td>
         <td class="">{{email}}</td>
         <td class="">{{profile}}</td>
         <td class="">
            <div class="afficher js-afficher-user" data-idUser="{{userId}}"><span class="fa fa-eye" aria-hidden="true"></div>
            <div class="update js-modifier-user" data-idUser="{{userId}}"><span class="fa fa-pencil" aria-hidden="true"></div>            
            <div class="supprimer js-supprimer-user" data-idUser="{{userId}}" ><span class="fa fa-trash" aria-hidden="true"></div>
         </td>
      </tr>
      {{/each}}
   </tbody>
</table>
</div></div>
</div>