<div class="panel panel-primary"><div class="panel-heading"><i class="fa fa-envelope-o" aria-hidden="true"></i>Invitation candidat</div>
<div class="bootstrap-iso">
 <div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
       <div class="panel-heading"><i class="fa fa-user" aria-hidden="true"></i> Detail candidat</div>
       <div class="panel-body">   
     <div class="form-group ">
      <label class="control-label " for="firstName">
       nom : {{candidatExams.candidat.firstName}}
      </label>
     </div>
     <div class="form-group ">
      <label class="control-label " for="lastName">
       prenom : {{candidatExams.candidat.lastName}}
      </label>
     </div>
     <div class="form-group ">
      <label class="control-label " for="sexe">
       sexe : {{candidatExams.candidat.sexe}}
      </label>
     </div>
     <div class="form-group ">
      <label class="control-label " for="birthDate">
       Date de naissance : {{candidatExams.candidat.birthDate}}
      </label>
     </div>
     <div class="form-group ">
      <label class="control-label " for="adresse">
       adresse : {{candidatExams.candidat.adresse}}
      </label>
     </div>
     <div class="form-group ">
      <label class="control-label requiredField" for="email">
       Email : {{candidatExams.candidat.email}}
       <input class="form-control hiden" id="email" name="email" type="text" value="{{candidatExams.candidat.email}}"   />
      </label>
     </div>
     <div class="form-group ">
      <label class="control-label " for="expertise">
       domaine de comp&eacute;tance : {{candidatExams.candidat.expertise}}
      </label>
     </div>
     <div class="form-group ">
      <label class="control-label " for="experience">
       Ann&eacute; d'experience : {{candidatExams.candidat.experience}}
      </label>
     </div>

     </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
       <div class="panel-heading"><i class="fa fa-envelope" aria-hidden="true"></i>Invitation candidat</div>
       <div class="panel-body"<div class="inviterbox">
    <div class="form-group objet">
      <label class="control-label " for="objet">
       objet :
      </label>
      <input class="form-control" id="objet" name="objet"  type="text" value="Test Examen de compitence !!!" />
      <span class="error-inline"></span>
	</div>
	<div class="form-group ">
      <label class="control-label " for="exams">
       Choisir examen :
      </label>
      <select class="select form-control" id="exams"  name="exams"  >
       {{#each candidatExams.exams}}
       <option value= {{idExams}} >
       {{name}}
       </option>
       {{/each}}
      </select>
     </div>
     <div class="form-group messagetext">
    <label for="exampleTextarea">Message :</label>
    <textarea class="form-control" id="message" name="message"  rows="3" value="  Bonjour,\n vous êtes inviter a passer">
    Bonjour, vous &egrave;tes inviter &agrave; passer un examens de comp&eacute;tences Merci de cliquer sur ce lien :
    </textarea>
    <span class="error-inline"></span>
  </div>
  <div class="form-group">
      <button class="btn btn-primary js-annuller" name="annuller" type="submit">
        Annuller
       </button>
      <button class="btn btn-primary js-envoyer" name="envoyer" type="submit">
        Envoyer
       </button>
     </div>
</div></div>
      </div>
    </div>
  </div>
</div>
</div>

