<div class="panel panel-primary"><div class="panel-heading">passage Examen</div>
<div class="container_exam"> 
<div class="container">
<div class="sperateur form-inline">
  <div class="form-group ">
      <label class="control-label " for="name">
       Nom d'examen : {{exam.name}}
      </label>
     </div>
      <div class="form-group ">
      <label class="control-label " for="expertise">
       Domaine de competance  : {{exam.expertise}}
      </label>
     </div>
      <div class="form-group ">
      <label class="control-label " for="level">
       Niveau d'examen : {{exam.level}}
      </label>
     </div>
      <div class="form-group ">
      <label class="control-label " for="time">
       Temp d examen : {{exam.time}}
      </label>
     </div>
     <div class="form-group ">
      <label class="control-label " for="active">
       Active : {{exam.active}}
      </label>
     </div>
    </div>
	<div class="panel-group" id="accordion">
	 <div id="wizard">
	 {{#each exam.questions}}
        <h2>Question {{inc @index}} : {{description}}</h2>
            <section>
            <h2>Question {{inc @index}} : {{description}}</h2>
			{{#each reponses}}
                    <p>{{description}} <input type="checkbox" > </p>
						
			{{/each}}
        </section>
		{{/each}}
            </div>
	 </div>
</div>
</div>
</div>